# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular programming languages for Data Science
- List of libraries for Data Science
- Table containing tools used for Data Science
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Tensor Flow
2. Pandas
3. Numpy
4. Matplotlib

| Data Science Tools |
|----|
| Apache Hadoop |
| Apache Spark |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Iaroslav Gafiatulin